/* Gerais */
body{
    font-family: sans-serif;
}

.row{
    margin: 0;
}

.container{
    padding: 70px 0;
}

p, li{
    color: #444;
    font-size: 14px
}

/* barra de navegação */

header, .navbar{
    background-color: #f69209;
}

#nav-container{
    padding-top: 0;
    padding-bottom: 0;
}

#logo{
    width: 150px;
    margin-left: 70px;
}

.navbar-brand{
    padding: 0;
    color: #fff;
}

.navbar-brand:hover{
    color: #fff;
}

#navbar-links a {
    color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding: 1rem .8rem;
    font-size: 20px;
}


#carouselDemo, .carousel-item{
    height: 70vh;
    width: 70vw;
}
#carouselDemo{
    margin: auto;
    margin-top: 10%;
}
.carousel-inner{
    border-radius: 14px;
}


#img1, #img2{
    background-size: contain;
    border-radius: 14px;
}

.carousel-indicators button.active {
    background-color: #f69209; /* Verde para indicador ativo */
}

.main-btn{
    background-color: #f69209;
    color: #fff;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
    margin-bottom: 30px;
    text-decoration: none;
}

.main-btn:hover{
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    border-color: #f69209;
}

#carouselDemo, .carousel-caption{
    top: 55%;
}

.caption-temp{
    top: 30%;
}

.caption-temp p{
    font-size: 28px;
    font-weight: 500;
    color: #fff;
}

#countdown{
    font-size: 80px;
}


.caption-bv p{
    font-size: 14px;
    color: #fff;
}

.nav-item-right{
    margin-right: 80px;
    margin-left: 20px;
}


.main-title{
    color: #f69209;
    margin: 5% 0 65px 0;
    font-size: 50px;
    text-align: center;
}

.main-title::after{
    content: '';
    border-bottom: 2px solid #f69209;
    width: 15%;
    position: absolute;
    top: 220px;
    left: 42.5%;
}

.card-img-top{
    background-color: blue;
}

.card-body{
    text-align: center;
}

.card{
    margin: 0 0 20% 0;
    cursor: pointer;
}
.card-title{
    transition: all .3s;

}
.card:hover .card-title{
    color: #f69209;
}

/* Estilizando a barra de rolagem no Chrome, Safari e Edge */
/* Estilizando a barra de rolagem no Chrome, Safari e Edge */
::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
    background-color: #ffffff; /* Cor de fundo da barra de rolagem (mesma cor do header) */
    border: 1px solid #fff;
}

::-webkit-scrollbar-thumb {
    background-color: #f69209; /* Cor da alça da barra de rolagem (cor de destaque) */
    border-radius: 6px;
    
    /* Altura da alça da barra de rolagem */
    height: 2vh;
    
    /* Posicionando a alça no centro da trilha */
    margin-top: -40px; /* Metade da altura da alça (negativo) */
    
    /* Adicionando uma borda cinza à alça */
    border: 1px solid #ffffff;
}

/* Estilizando a barra de rolagem no Firefox */
/* Nota: A personalização no Firefox é mais limitada */
/* Certifique-se de que a cor de fundo do contêiner principal seja definida para ver a cor da barra de rolagem */
body {
    scrollbar-color:  #f69209;
}



#info-area, #setor-area{
    display: none;
    width: 80vw;
    margin: auto;
}

#info-area p {
    font-size: 18px;
    padding-bottom: 25px;
}

.custom-card {
    margin: 0 70px; /* Adicione ou ajuste a margem conforme necessário */
    width: 100%;
}


.col-md-3 a{
    text-decoration: none;
}


.btn-vlt{
    position: fixed;
    top: 100px;
    left: 50px;
    border: 2px solid transparent;
    background-color: #f69209;
    color: #fff;
    transition: .5s;
}

.btn-vlt:hover{
    background-color: #fff;
    color: #f69209;
    border: 2px solid #f69209;
}


.text-set{
    font-size: 20px;
}